@model IEnumerable<ClairG.ChatApp.Domain.Entities.Comment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2 class="text-success text-center">Welcome to Chat Room</h2>

@*Post Comment*@
<br />
@using (Html.BeginForm("PostComment", "ChatRoom", FormMethod.Post))
{
    <span class="pull-right">
        @*show picture*@
        @if (Session["ImageUrl"] != null)
        {
            <img src="@Url.Content(Session["ImageUrl"].ToString())" alt="No Image" style="height:50px" class="img-responsive img-circle" />
        }
        else
        {
            <img src="@Url.Content("~/Profile_Images/dafault.jpg")" alt="No Image" style="height:50px" class="img-responsive img-circle" />
        }
        @*post comment*@
        <input type="text" name="CommentText" placeholder="Type new comment..."
                style="width:100%; height:50px; font-size:18px; margin-top:10px" />
        <br />
        <input type="submit" value="Post Comment" class="btn btn-success" style="margin: 5px 0px 10px 0px" />
</span>

}

<table class="table">

    @foreach (var comment in Model)
    {
        <tr>
            <td>
                @*Show all comments*@
                @*replace username with user's picture*@
                @if (comment.User.ImageUrl != null)
                {
                    <img src="@Url.Content(comment.User.ImageUrl)" alt="No Image" style="height:45px" class="img-responsive img-circle" />
                }
                else
                {
                    <img src="@Url.Content("~/Profile_Images/dafault.jpg")" alt="No Image" style="height:45px" class="img-responsive img-circle" />
                }
                @*show comments*@
                <span style="font-size:20px">
                    @Html.DisplayFor(modelItem => comment.Text)
                </span>
                <span style="font-size:12px; margin-left:20px">
                    @comment.CreatedDateTime
                </span>

                @*Show all replies*@
                @foreach (var reply in comment.Replies)
                {
                    <br />
                    @*replace username with user's picture*@
                    if (reply.User.ImageUrl != null)
                    {
                        <img src="@Url.Content(reply.User.ImageUrl)" alt="No Image" style="height:35px" class="img-responsive img-circle" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/Profile_Images/dafault.jpg")" alt="No Image" style="height:35px" class="img-responsive img-circle" />
                    }
                    @*show replies*@
                    <span style="font-size:16px">
                        @reply.Text
                    </span>
                    <span style="font-size:8px; margin-left:20px">
                        @reply.CreatedDateTime
                    </span>
                }

                @*Post reply*@
                <br />
                @using (Html.BeginForm("PostReply", "ChatRoom", FormMethod.Post))
                {
                    <input type="text" name="Reply" placeholder="Type reply..."
                           style="width:100%; height:50px; font-size:16px; margin-top:10px" />
                    <br />
                    <input type="hidden" name="CommendId" value="@comment.Id" />
                    <input type="submit" value="Post Reply" class="btn btn-success" style="margin-top:10px" />
                }

            </td>
        </tr>
    }

</table>
